/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.l-bottom {
  margin-bottom: 20px; }

.l-right-small {
  margin-right: 10px; }

.l-right {
  margin-right: 20px; }

.l-header {
  position: relative; }
  .l-header .l-header-btn {
    min-width: 14px;
    float: left;
    margin: 3px 10px 3px 0; }
  .l-header .l-header-logo {
    display: block;
    position: absolute;
    left: 50%;
    margin-top: 3px;
    margin-left: -15px; }
  .l-header .l-header-input {
    width: 185px;
    float: left;
    margin-top: 3px; }
    .l-header .l-header-input .l-header-input-text {
      width: 85%; }
  .l-header .l-header-function {
    float: right; }
  .l-header .l-header-user {
    width: 32px;
    float: right;
    margin: 2px 4px 0 0; }

.l-bord .l-bord-title-icon {
  margin: 0 10px 0 5px; }

.l-bord .l-bord-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .l-bord .l-bord-list .l-bord-list-item {
    width: 25%;
    box-sizing: border-box; }

.header {
  background-color: #026aa7;
  padding: 2px 8px; }
  .header .header-btn {
    padding: 0 10px;
    color: #f3f3f3;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    line-height: 30px; }
  .header .header-input {
    font-size: 13px;
    line-height: 19px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    padding: 3px 10px; }
    .header .header-input .header-input-text {
      background: none;
      border: 0; }
    .header .header-input .header-input-icon {
      font-size: 20px;
      color: #fff;
      padding-top: 2px; }
  .header .header-user {
    color: #4d4d4d;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 32px;
    border-radius: 16px;
    background-color: #d6dadc; }

.bord {
  padding: 20px 1%; }
  .bord .bord-title {
    color: #333;
    font-weight: bold;
    padding-bottom: 10px; }
    .bord .bord-title .bord-title-icon {
      color: #999;
      font-weight: bold; }
  .bord .bord-list .bord-list-item {
    padding: 0 8px 10px 0;
    position: relative; }

.card {
  color: #fff;
  background-color: #026aa7;
  display: block;
  text-decoration: none;
  padding: 8px;
  border-radius: 3px;
  height: 75px; }

.card-foundation {
  background-color: #000;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 8px 10px 0;
  display: none;
  opacity: 0.25; }

.btn-create {
  background-color: #e2e4e6;
  color: #838c91; }

.btn {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.anchor {
  text-decoration: underline;
  color: #838c91;
  padding: 7px;
  font-size: 14px; }
