.loader {

  .loader-icon {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -24px 0 0 -24px;
    z-index: 12;
  }

  .loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .6;
    z-index: 11;
    width: 100%;
  }
}
