<html ng-app='App'>
<head>
<meta lang='ja' charset='UTF-8'>
<meta name='description' content=''>
<meta name='author' content=''>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='shortcut icon' href=''>
	<script src='node_modules/angular/angular.min.js'></script>
  <script src='node_modules/jquery/dist/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js'></script>
  <script src='js/TodoController.js'></script>
  <script src='js/MemoController.js'></script>
  <script src='js/ClickController.js'></script>
  <script src='js/script.js'></script>
  <link rel='stylesheet' href='css/common.css'>
  <link rel='stylesheet' href='node_modules/bulma/css/bulma.css'>
	<title>Applications</title>
</head>
<body ng-controller='MemoController as vm'>
<div class='body-wrapper hero-body' ng-controller='ClickController as click'>

  <section class='layout-section app-list clearfix container has-text-centered'>
    <ul class='content list clearfix'>
      <li class='list-content size300 start-up-todo' ng-click='click.startUpTodo()'>TODO</li>
      <li class='list-content size300 layout-side　start-up-memo' ng-click='click.startUpMemo()'>MEMO</li>
      <li class='list-content size300 start-up-memo' ng-click='click.showData()'>DATA</li>
    </ul>
  </section>

  <section class='app todo' ng-controller='TodoController as vm'>
  <div class='level'>
    <div>
      <p class='mb10 button is-link' ng-click='click.back()'>AppListへ戻る</p>
      <form ng-submit='vm.create()'>
        <input class='input mb10' type='text' ng-model='vm.newTodo' placeholder='ToDo名を入力(Enter keyでtodoを作成)'><br>
      </form>
      <form>
        <input class='input' type='text' ng-model='vm.keyword' placeholder='ToDoを検索(Todo,Completeのリストを検索)'>
      </form>
      <ul class='list content clearfix layout'>
        <li class='list-content size480 box-left'>
          <h2 class='level-item list-title'><span class='title is-4'>Todo</span><span class='title is-4'>{{vm.todos.length}}</span><span class='title is-5'>items</span></h2>
          <div class='scroll-content-wrapper'>
            <div class='scroll-contents'>
              <ul class='content-todo' ng-repeat='todo in vm.todos | filter:vm.keyword'>
                <li class='list-style'>
                  <input type='checkbox' ng-model='todo.done' ng-click='vm.check(todo.done)'>
                  <span ng-class="{'done': todo.done }"><span class='size13'>{{todo.time}}</span><br><span>{{todo.title}}</span><br>
                  <button class='button is-danger btn' ng-click='vm.delete(todo.id);'>削除</button></span>
                </li>
              </ul>
            </div>
          </div>
        </li>
        <li class='list-content size480 box-right'>
          <h2 class='level-item list-title'><span class='title is-4'>Complete</span><span class='title is-4'>{{vm.completions.length}}</span><span class='title is-5'>items</span></h2>
          <div class='scroll-content-wrapper'>
            <div class='scroll-contents'>
              <ul class='content-complete' type='text' ng-repeat='complete in vm.completions | filter:vm.keyword'>
                <li class='list-style'>
                  <span ng-class="{'done': todo.done }"><span>{{complete.time}}</span><span>{{complete.title}}</span></span>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  </section>

  <section class='app memo'>
    <div class='level'>
      <div>
        <p class='btn mb10 button is-link' ng-click='click.back()'>AppListへ戻る</p>
        <form>
          <input class='input mb20' type='text' ng-model='vm.memoTitle' placeholder='Memoを検索'>
        </form>  
        <ul class='list content clearfix layout'>
          <li class='list-content size480 box-rigt'>
            <form>
              <input class='input mb10' type='text' ng-model='vm.textTitle' placeholder='memoのtitleを入力'><br>
              <textarea class='textarea size280' ng-model='vm.textContents' placeholder='memoの内容を入力'>memoの内容を入力</textarea><br>
            </form>
            <button class='btn button is-primary width-max' ng-click='vm.createText()'>Memoを作成</button>
          </li>
          <li class='list-content size480 box-right'>
            <h2 class='level-item list-title'><span class='title is-4'>MemoList</span><span class='title is-4'>{{vm.memoList.length}}</span></h2>
            <div class='scroll-content-wrapper'>
              <div class='scroll-contents'>
                <ul class='content-memo' ng-repeat='memo in vm.memoLists | filter:vm.memoTitle'>
                  <li>
                    <p><span ng-click='vm.showDetail(memo.id)'>{{memo.title}}</span></p>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class='app data' ng-controller='TodoController as vm'>
    <div class='level'>
      <div>
        <p class='btn mb10 button is-link' ng-click='click.back()'>AppListへ戻る</p>
        <canvas id="myChart"></canvas>
        
      </div>
    </div>
  </section>

</div>
<div class='sidein-content'>
  <div class='detail' ng-controller='ClickController as click'>
    <p class='btn mb20' ng-click='click.backList()'>listへ戻る</p>
    <ul ng-repeat='detail in vm.memoDetail'>
      <li>
        <p class='size13 mb10'>{{detail.time}}</p>
        <form>
          <input class='input mb10' type='text' ng-model='detail.title' placeholder='memoのtitleを入力'><br>
          <textarea class='textarea size280' ng-model='detail.contents' placeholder='memoの内容を入力'>memoの内容を入力</textarea><br>
        </form>
        <button class='btn button is-primary width-max' ng-click='vm.upDate(detail)'>Memoを編集</button>
      </li>
    </ul>
  </div>
</div>
<div first-directive></div>
</body>
</html>
