.l-feature-flowList > li {
  width: 32%;
  margin-right: 2%;
  float: left;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 10px;

  &:last-child {
    margin-right: 0;
  }
}
