.l-header {
  width: 960px;
  margin: 0 auto;

  .l-header-logo {
    width: 114px;
    float: left;
  }

  .l-header-caption {
    min-width: 400px;
    float: left;
    margin-left: 15px;
  }

  .l-header-list {
    width: 230px;
    float: right;

    & > li {
      float: left;
      margin-right: 10px;
    }
  }
}