@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  line-height: 1.3em; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.full {
  width: 100% !important; }

.half {
  width: 50% !important; }

.quart {
  width: 25% !important; }

.minimum {
  width: 10% !important; }

/*layout margen*/
.l-bottom-xsmall {
  margin-bottom: 5px; }

.l-bottom-small {
  margin-bottom: 10px; }

.l-bottom {
  margin-bottom: 15px; }

.l-bottom-large {
  margin-bottom: 20px; }

.l-bottom-xlarge {
  margin-bottom: 30px; }

.l-bottom-xxlarge {
  margin-bottom: 40px; }

.l-left-xsmall {
  margin-left: 5px; }

.l-left-small {
  margin-left: 10px; }

.l-left {
  margin-left: 15px; }

.l-left-large {
  margin-left: 20px; }

.l-right-xsmall {
  margin-right: 5px; }

.l-right-small {
  margin-right: 10px; }

.l-right {
  margin-right: 15px; }

.l-right-large {
  margin-right: 20px; }

.l-parallel > * {
  /*横並び*/
  float: left; }

.l-float-left {
  float: left; }

.l-float-right {
  float: right; }

.l-half > * {
  width: 49%;
  margin-right: 2%;
  float: left;
  box-sizing: border-box; }
  .l-half > *:last-child {
    margin-right: 0; }

.l-trisect > * {
  width: 32%;
  margin-right: 2%;
  float: left;
  box-sizing: border-box; }
  .l-trisect > *:nth-child(3n) {
    margin-right: 0; }

.l-quarter > * {
  width: 23%;
  margin-right: 2%;
  float: left;
  box-sizing: border-box; }
  .l-quarter > *:nth-child(4n) {
    margin-right: 0; }

.l-table {
  display: table; }
  .l-table > * {
    display: table-cell; }

.l-section-wrapper {
  width: 960px;
  margin: 0 auto; }

.l-navi {
  width: 960px;
  margin: 0 auto; }

.l-header {
  width: 960px;
  margin: 0 auto; }
  .l-header .l-header-logo {
    width: 114px;
    float: left; }
  .l-header .l-header-caption {
    min-width: 400px;
    float: left;
    margin-left: 15px; }
  .l-header .l-header-list {
    width: 230px;
    float: right; }
    .l-header .l-header-list > li {
      float: left;
      margin-right: 10px; }

.l-global-navi .l-global-navi-list {
  width: 960px;
  margin: 0 auto; }
  .l-global-navi .l-global-navi-list > li {
    float: left; }

.l-feature-flowList > li {
  width: 32%;
  margin-right: 2%;
  float: left;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  padding: 10px; }
  .l-feature-flowList > li:last-child {
    margin-right: 0; }

.l-ranking-list-thumbnail {
  width: 35%;
  float: left;
  margin-right: 5%; }

.l-ranking-list-contents {
  width: 60%;
  float: left; }

.l-media .l-media-thumbnail {
  width: 30%;
  float: left; }

.l-media .l-media-contents {
  width: 65%;
  float: left; }

.contents-wrapper {
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px; }

.contents-foundation {
  background-color: #fef8d6; }

.header-wrapper {
  background-color: #dd171f; }
  .header-wrapper .header {
    font-color: #fff;
    padding: 10px; }
    .header-wrapper .header > * {
      display: inline; }
    .header-wrapper .header .header-list {
      text-align: right; }
      .header-wrapper .header .header-list > li {
        font-size: 11px;
        line-height: 1.5em; }
      .header-wrapper .header .header-list .header-list-anchor {
        color: #fff; }
    .header-wrapper .header .header-caption {
      color: #fff;
      font-size: 13px;
      line-height: 1.3em; }

.text-small {
  font-size: 12px !important; }

.text-midium {
  font-size: 20px !important; }

.text-large {
  font-size: 30px !important; }

.text-xlarge {
  font-size: 40px !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.text-left {
  text-align: left !important; }

.text-middle {
  vertical-align: middle; }

.text-strong {
  font-weight: bold; }

.text-marker {
  border-bottom: 3px solid #ffcc33;
  font-weight: bold; }

.text-positive {
  color: #3698f3;
  font-weight: bold; }

.text-negative {
  color: #dd171f;
  font-weight: bold; }

.text-anchor {
  color: #245fbb; }
  .text-anchor > .text-anchor-icon {
    color: #245fbb;
    text-decoration: underline;
    padding-left: 15px;
    background: url(../../src/img/cmn_bg_pic.png) no-repeat left -61px; }

.text-title {
  color: #245fbb;
  font-size: 16px;
  font-weight: bold; }

.text-caption {
  color: #602a08;
  font-weight: bold; }

.text-note {
  color: #555; }

.text-decoration-none {
  text-decoration: none; }

.global-navi {
  padding: 10px 0;
  border-bottom: 2px solid #dd171f; }
  .global-navi .global-navi-list > li {
    padding: 0 13px;
    border-left: 1px dotted #999; }
    .global-navi .global-navi-list > li .global-navi-list-anchor {
      color: #dd171f;
      font-size: 15px;
      font-weight: bold;
      text-decoration: none; }

.main-visual {
  background: url(../../src/img/main-visual-background.png) repeat-x;
  position: relative;
  height: 280px; }

.main-visual-title {
  position: absolute;
  top: 27px;
  left: 72px; }

.main-visual-text {
  position: absolute;
  top: 76px;
  left: 70px; }

.main-visual-character {
  position: absolute;
  top: 63px;
  right: 92px; }

.main-visual-company-list {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5px; }

.heading-title {
  width: 960px;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  background-color: #602a08;
  padding: 15px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px; }

.heading-subtitle {
  color: #602a08;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  background-color: #f8f3e8;
  border-left: 10px solid #602a08;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  -moz-border-radius: 6px; }

.heading-tertiary {
  font-size: 18px;
  font-weight: bold;
  border-left: 5px solid #dd171f;
  padding-left: 10px; }

.check-list {
  padding: 10px;
  border: 3px solid #e6e0da;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px; }
  .check-list > li {
    padding: 8px 0 8px 30px;
    line-height: 1.3em;
    background: url(../../src/img/check-icon.gif) left 0 top 8px no-repeat; }

.navi-list {
  border: 2px solid #ddd;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  display: table; }
  .navi-list > li {
    display: table-cell;
    position: relative;
    width: 96px;
    border-right: 1px dotted #ddd;
    padding: 25px 5px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle; }
    .navi-list > li:before {
      content: '';
      width: 6px;
      height: 6px;
      border: 0;
      border-top: 2px solid #ddd;
      border-right: 2px solid #ddd;
      transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      position: absolute;
      bottom: 10px;
      left: 50%; }
    .navi-list > li:last-child {
      border: none; }
    .navi-list > li .list-item {
      text-decoration: none;
      color: #333; }

.feature {
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px; }
  .feature .feature-heading {
    color: #602a08;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 10px;
    background-color: #f8f3e8; }
  .feature .feature-contents {
    padding: 10px; }
    .feature .feature-contents .feature-contents-text {
      font-size: 13px;
      line-height: 1.3em; }
  .feature .feature-flowList > li {
    position: relative; }
    .feature .feature-flowList > li:after {
      content: url(../../src/img/flow-arrow.png);
      z-index: 5;
      position: absolute;
      top: 55px;
      right: -20px;
      width: 19px;
      height: 33px; }
    .feature .feature-flowList > li:last-child:after {
      content: none; }

.ranking {
  border: 2px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px; }
  .ranking > li {
    border-bottom: 2px solid #ccc; }
    .ranking > li:last-child {
      border-bottom: 0; }
  .ranking .ranking-company {
    padding: 25px 15px 15px 50px;
    position: relative; }
    .ranking .ranking-company > * {
      float: left; }
    .ranking .ranking-company .ranking-company-label {
      position: absolute;
      top: -2px;
      left: 12px; }
    .ranking .ranking-company .ranking-company-thumbnail {
      border: 1px solid #ccc;
      padding: 5px; }
    .ranking .ranking-company .ranking-company-rate {
      font-size: 15px; }
      .ranking .ranking-company .ranking-company-rate .ranking-company-rate-star {
        padding-right: 10px; }
  .ranking .ranking-rate-list {
    font-size: 12px;
    margin: 0 10px 15px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -ms-border-radius: 15px; }
    .ranking .ranking-rate-list > * {
      float: left;
      margin-right: 10px; }

.ranking-list .ranking-list-item {
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px; }
  .ranking-list .ranking-list-item .ranking-list-thumbnail {
    padding-right: 5%; }
  .ranking-list .ranking-list-item .ranking-list-title {
    color: #245fbb;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px; }
  .ranking-list .ranking-list-item .ranking-list-text {
    font-size: 12px; }

.prefecture-area > li {
  padding: 5px 0;
  border-bottom: 1px dotted #ccc; }

.prefecture-area > li:last-child {
  border-bottom: 0; }

.prefecture-area .prefecture-area-title {
  display: inline-block;
  width: 15.625%; }

.prefecture-area .prefecture-area-list {
  display: inline-block; }
  .prefecture-area .prefecture-area-list > li {
    float: left;
    padding-right: 10px; }
    .prefecture-area .prefecture-area-list > li:after {
      content: '|';
      color: #245fbb;
      margin-left: 10px; }
    .prefecture-area .prefecture-area-list > li:first-child:before {
      content: '…';
      margin-right: 10px; }

.table {
  width: 100%;
  border: 1px solid #ccc; }
  .table > td {
    text-align: center; }
  .table .table-heading {
    padding: 15px 10px;
    font-weight: bold;
    background-color: #e6e5e5; }
    .table .table-heading > th {
      padding: 15px 10px;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc; }
  .table > tbody {
    text-align: center; }
    .table > tbody > tr {
      border-bottom: 1px solid #ccc; }
      .table > tbody > tr > td {
        border-right: 1px solid #ccc; }
    .table > tbody .table-title {
      width: 50%;
      text-align: left;
      font-weight: bold;
      padding: 15px 10px;
      border-right: 1px solid #ccc;
      background-color: #f3f3f3; }

.card {
  border: 2px solid #ddd;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px; }
  .card.card-foundation {
    background-color: #f3f3f3; }
  .card .card-anchor {
    text-decoration: none; }
    .card .card-anchor .card-contents {
      padding: 15px;
      font-size: 14px; }
      .card .card-anchor .card-contents .card-contents-title {
        color: #245fbb;
        font-size: 15px;
        font-weight: bold;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px dotted #ddd; }
  .card .card-thumbnail {
    padding: 15px; }
    .card .card-thumbnail .card-thumbnail-inner {
      display: table;
      text-decoration: none !important; }
      .card .card-thumbnail .card-thumbnail-inner > * {
        display: table-cell;
        vertical-align: middle; }
        .card .card-thumbnail .card-thumbnail-inner > *:last-child {
          padding-left: 10px; }
  .card .card-balloon {
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    background-color: #fff;
    padding: 10px;
    margin: 0 10px 15px; }

.marketPrice {
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  background-color: #f3f3f3;
  padding: 10px;
  position: relative; }
  .marketPrice .marketPrice-thumbnail {
    position: absolute;
    top: -16px;
    left: 15px; }
  .marketPrice .marketPrice-contents .marketPrice-contents-title {
    color: #602a08;
    font-size: 15px;
    font-weight: bold;
    margin-left: 155px;
    margin-bottom: 10px; }
  .marketPrice .marketPrice-contents .marketPrice-contents-average {
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    margin-left: 155px;
    text-align: center; }

.media .media-contents {
  font-size: 14px; }
  .media .media-contents .media-contents-title {
    font-size: 18px;
    font-weight: bold; }

.company {
  border: 1px solid #ddd;
  text-align: center; }
  .company tr:nth-child(2n) {
    background-color: #f5f5f5;
    border: 1px solid #ddd; }
  .company th, .company td {
    border: 1px solid #ddd;
    vertical-align: middle;
    padding: 20px; }
  .company th {
    width: 25%;
    color: #e88402; }
  .company .company-title > * {
    display: block; }

.company-stats {
  padding: 20px; }

.voice .voice-result {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #ddd;
  -webkit-font-feature-settings: 'palt';
          font-feature-settings: 'palt'; }
  .voice .voice-result .voice-result-thumbnail {
    width: 50px;
    position: absolute;
    top: 18px;
    right: -5px; }

.sitemap {
  color: #fff;
  font-size: 12px;
  background-color: #dd171f;
  padding: 20px; }
  .sitemap .sitemap-list .sitemap-list-anchor {
    color: #fff;
    margin-left: 10px; }
  .sitemap .sitemap-list .sitemap-list-innerList > * {
    position: relative;
    margin-left: 10px; }
    .sitemap .sitemap-list .sitemap-list-innerList > *:before {
      width: 2px;
      height: 2px;
      border: 4px solid #dd171f;
      border-left: 4px solid #fff;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      margin: 6px auto auto; }

.service .service-reservartion {
  border: 1px solid #fa7b1c;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  padding: 25px; }

.service .service-estimate {
  border: 1px solid #088107;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  padding: 25px; }
