.layout-section{
  margin: 30px 0;
}

.layout-side {
  margin: 0 30px;
}

.layout-bottom {
  margin-bottom: 30px;
}

.content{
	.size300 {
		width: 300px;
		height: 300px;
	}
	.size480 {
		width: 480px;
		height: 480px;
	}
}