.mb10 {
	margin-bottom: 10px;
}

.mb20 {
	margin-bottom: 20px;
}

.size13 {
	font-size: 13px;
}

.layout-section{
  margin: 30px 0;
}

.layout-side {
  margin: 0 30px;
}

.layout-bottom {
  margin-bottom: 30px;
}

.width-max {
	width: 100%;
}

.content{
	.size280 {
		width: 300px;
		height: 300px;
	}
	.size300 {
		width: 300px;
		height: 300px;
	}
	.size480 {
		width: 480px;
		height: 480px;
	}
}