.prelude {
  background-image: -webkit-radial-gradient(51% 96%, #E7E9E4 10%, #D4D6D1 96%);
  background-image: radial-gradient(51% 96%, #E7E9E4 10%, #D4D6D1 96%);
}

.flamingo {
  background-image: -webkit-radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), -webkit-radial-gradient(91% 146%, rgba(255, 255, 255, 0.5) 47%, rgba(0, 0, 0, 0.5) 100%);
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.5) 47%, rgba(0, 0, 0, 0.5) 100%);
  background-blend-mode: screen;
}

.list {
  .title {
    width: 300px;
    height: 300px;
    font-size: 20px;
    float: left;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
  }
}

.app {
  display: none;
}

.btn-back {
  cursor: pointer;
}