.body-wrapper {
  position: relative;
}

.list {
  .list-content {
    width: 300px;
    height: 300px;
    font-size: 20px;
    float: left;
    padding-top: 30px;
    box-sizing: border-box;
    cursor: pointer;
    .list-style {
      text-align: left;
    }
    .list-title {
      border-left: solid 6px #00b89c;
      border-bottom: solid 1px #00b89c;
      padding-bottom: 5px;
      padding-left: 10px;
      margin-bottom: 15px;
      .title {
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}

.app {
  display: none;
}

.todo {
  width: 960px;
  margin: 0 auto;
  position: absolute;
  top: 50px;
  left: -360px;
}

.memo {
  width: 960px;
  margin: 0 auto;
  position: absolute;
  top: 50px;
  left: -360px;
}

.scroll-content-wrapper {
  overflow: hidden;
  height: 400px;
  .scroll-content {
    overflow: scroll;
    height: 400px;
    .content-todo, .content-complete {
      margin: 0 0 15px 0;
    }
    .content-memo {
      margin: 0 0 5px 0;
    }
  }
}

.sidein-content{
  width: 50%;
  position: absolute;
  top: 0;
  left: -50%;
  background-color: rgba(0,0,0,0.8);
  .detail {
    width: 480px;
    color: #fff;
    padding: 30px 10px;
    margin: 0 auto;
    box-sizing: border-box;
    .title {
      color: #fff;
      font-weight: bold;
      font-size: 26px;
    }
  }
}

.btn {
  cursor: pointer;
  font-weight: bold;
}

.done {
  text-decoration: line-through;
  color: grey;
}