.body-wrapper {
  position: relative;
}

.list {
  .list-content {
    width: 300px;
    height: 300px;
    font-size: 20px;
    float: left;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    .list-style {
      text-align: left;
    }
  }
}

.app {
  display: none;
}

.todo {
  width: 960px;
  margin: 0 auto;
  position: absolute;
  top: 50px;
  left: -360px;
}

.memo {
  width: 960px;
  margin: 0 auto;
  position: absolute;
  top: 50px;
  left: -360px;
}
.scroll-content-wrapper {
  overflow: hidden;
  height: 385px;
  .scroll-content {
    overflow: scroll;
    height: 400px;
  }
}


.btn-back {
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  color: grey;
}