.heading-title {
  width: $wrapper-width;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  background-color: #602a08;
  padding: 15px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
}

.heading-subtitle {
  color: #602a08;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  background-color: #f8f3e8;
  border-left: 10px solid #602a08;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  -moz-border-radius: 6px;
}

.heading-tertiary {
  font-size: 18px;
  font-weight: bold;
  border-left: 5px solid #dd171f;
  padding-left: 10px;
}