.header-wrapper {
  background-color: #dd171f;

  .header {
    font-color: #fff;
    padding: 10px;

    & > * {
      display: inline;
    }

    .header-list {
      text-align: right;

      & > li {
        font-size: 11px;
        line-height: 1.5em;
      }

      .header-list-anchor {
        color: #fff;
      }
    }

    .header-caption {
      color: #fff;
      font-size: 13px;
      line-height: 1.3em;
    }
  }
}