.marketPrice {
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  background-color: #f3f3f3;
  padding: 10px;
  position: relative;

  .marketPrice-thumbnail {
    position: absolute;
    top: -16px;
    left: 15px;
  }

  .marketPrice-contents {

    .marketPrice-contents-title {
      color: #602a08;
      font-size: 15px;
      font-weight: bold;
      margin-left: 155px;
      margin-bottom: 10px;
    }

    .marketPrice-contents-average {
      border: 1px solid #ccc;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -ms-border-radius: 5px;
      background-color: #fff;
      padding: 10px;
      margin-left: 155px;
      text-align: center;
    }
  }
}