.voice {

  .voice-result {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #ddd;
    font-feature-settings : 'palt';

    .voice-result-thumbnail {
      width: 50px;
      position: absolute;
      top: 18px;
      right: -5px;
    }
  }

}