html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: -apple-system, sans-serif; }

ol, ul {
  list-style: none; }

li {
  list-style-type: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.body-wrapper {
  width: 960px;
  margin: 0 auto;
  display: none; }

.body-wrapper {
  position: relative; }

.list .list-content {
  width: 300px;
  height: 300px;
  font-size: 20px;
  float: left;
  padding-top: 30px;
  box-sizing: border-box;
  cursor: pointer; }
  .list .list-content .list-style {
    text-align: left; }
  .list .list-content .list-title {
    border-left: solid 6px #00b89c;
    border-bottom: solid 1px #00b89c;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-bottom: 15px; }
    .list .list-content .list-title .title {
      display: inline-block;
      margin-right: 10px; }

.app {
  display: none; }

.todo {
  width: 960px;
  margin: 0 auto;
  position: absolute;
  top: 50px;
  left: -960px; }

.memo {
  width: 960px;
  margin: 0 auto;
  position: absolute;
  top: 50px;
  left: -960px; }

.scroll-content-wrapper {
  overflow: hidden;
  height: 400px; }
  .scroll-content-wrapper .scroll-content {
    overflow: scroll;
    height: 400px; }
    .scroll-content-wrapper .scroll-content .content-todo, .scroll-content-wrapper .scroll-content .content-complete {
      margin: 0 0 15px 0; }
    .scroll-content-wrapper .scroll-content .content-memo {
      margin: 0 0 5px 0; }

.sidein-content {
  width: 50%;
  position: absolute;
  top: 0;
  left: -50%;
  background-color: rgba(0, 0, 0, 0.8); }
  .sidein-content .detail {
    width: 90%;
    color: #fff;
    padding: 30px 10px;
    margin: 0 auto;
    box-sizing: border-box;
    opacity: 0; }
    .sidein-content .detail .title {
      color: #fff;
      font-weight: bold;
      font-size: 26px; }

.btn {
  cursor: pointer;
  font-weight: bold; }

.done {
  text-decoration: line-through;
  color: grey; }

.mb10 {
  margin-bottom: 10px; }

.mb20 {
  margin-bottom: 20px; }

.size13 {
  font-size: 13px; }

.layout-section {
  margin: 30px 0; }

.layout-side {
  margin: 0 30px; }

.layout-bottom {
  margin-bottom: 30px; }

.layout .box-left {
  padding-right: 20px; }

.layout .box-right {
  padding-left: 20px; }

.width-max {
  width: 100%; }

.content .size280 {
  width: 300px;
  height: 300px; }

.content .size300 {
  width: 300px;
  height: 300px; }

.content .size480 {
  width: 480px;
  height: 400px; }
