/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  background-color: #fbfbfb; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.l-content {
  width: 960px;
  margin: 0 auto; }

.l-left {
  float: left; }

.l-right {
  float: right; }

.clearfix:after {
  display: block;
  clear: both;
  content: ''; }

.l-bottom-small {
  margin-bottom: 12px; }

.l-bottom-large {
  margin-bottom: 24px; }

.l-bottom-xlarge {
  margin-bottom: 48px; }

.l-bottom-xxlarge {
  margin-bottom: 64px; }

.l-header-search-window {
  width: 530px;
  margin: 0 auto; }

.l-scrollHeader {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10; }

.l-searchWindow {
  margin-right: 32px; }

.l-card-trisect > * {
  float: left;
  margin: 0 20px 20px 0;
  width: 298px;
  height: 300px; }
  .l-card-trisect > *:nth-child(3) {
    margin: 0 0 20px; }

.l-card-bottom-small {
  margin-bottom: 12px; }

.loader .loader-icon {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -24px 0 0 -24px;
  z-index: 12; }

.loader .loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .6;
  z-index: 11;
  width: 100%; }

.header {
  background-color: #fff;
  border-bottom: 1px #ddd solid;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  .header .header-inner {
    width: 960px;
    margin: 0 auto;
    padding: 24px 0; }
    .header .header-inner .header-title {
      font-size: 32px;
      text-align: center; }

.scrollHeader {
  background: rgba(255, 255, 255, 0.95);
  width: 100%; }
  .scrollHeader .scrollHeader-title {
    font-size: 22px;
    padding: 5px; }

.searchWindow {
  position: relative; }
  .searchWindow .searchWindow-input {
    width: 240px;
    height: 32px;
    display: block;
    line-height: 1;
    padding: 3px 36px 0 18px;
    outline: none;
    border: none;
    background-color: #edeeef;
    border-radius: 16px;
    -webkit-appearance: none;
    font-size: 14px;
    color: #333; }
  .searchWindow .searchWindow-button {
    position: absolute;
    top: 5px;
    left: 195px;
    cursor: pointer; }
    .searchWindow .searchWindow-button:hover {
      opacity: .7; }

.button {
  border: 1px solid #ccc; }
  .button.button-sort {
    border-radius: 16px;
    padding: 8px;
    background-color: #ccc;
    cursor: pointer;
    display: inline-block;
    font-size: 12px; }
    .button.button-sort:hover {
      background-color: #ddd; }

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  .card:hover {
    background-color: #fefff2; }
  .card .card-link {
    text-decoration: none;
    color: #333; }
  .card .card-inner {
    padding: 12px; }
  .card .card-thumbnail-wrapper {
    text-align: center; }
    .card .card-thumbnail-wrapper .card-thumbnail {
      border: 1px solid #ddd;
      padding: 3px;
      background-color: #fff; }
  .card .card-title {
    font-size: 16px; }
  .card .card-price {
    font-size: 20px; }
  .card .card-review {
    font-size: 18px; }

.text-price {
  color: #dd171f; }

.text-review {
  color: #f28900; }

.text-strong {
  font-weight: bold; }

.footer {
  background-color: #ccc; }
  .footer .footer-inner {
    width: 960px;
    margin: 0 auto;
    padding: 36px 0; }
    .footer .footer-inner .footer-title {
      font-size: 16px;
      text-align: center; }

.is-hide {
  display: none; }

.is-active {
  background-color: #faffbd !important;
  border: 1px solid #faffbd !important; }
