.bord {
  padding: 20px 1%;

  .bord-title {
    color: $default-font-color;
    font-weight: bold;
    padding-bottom: 10px;

    .bord-title-icon {
      color: #999;
      font-weight: bold;
    }
  }

  .bord-list {

    .bord-list-item {
      padding: 0 8px 10px 0;
      position: relative;
    }
  }
}
